/* body{
    background-color: beige;
}
h1{
    color: cornflowerblue;
    transition: color .5s ease-in-out;
}
.active{
    color:  tomato;
} */
.hidden{
    display: none;
}

img{
    position: fixed;
    top: 0px;
    z-index: -100;
    width: 100%;
    height: 100%;
}
body{
    color: white;
}
h1{
    text-align: center;
}
#clock{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.cententwarp{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 150px;
    width: 500px;
    height: 700px;
}

#clock{
    font-size: 125px;
}
form{
    text-align: center;
}
li{
    text-align: center;
}
#quote{
    text-align: center;
}
::marker{
    text-align: center;
}